{% extends "layout.html.twig" %}

{% block main %}
<h1>Actualités admin!</h1>

	{{ form_start(ActualityForm) }}
	<div class='container'>
		<p class='inputDescription'>Nom :</p>
		{{ form_widget(ActualityForm.name, {'attr': {'class': 'file'}})}}
		{{ form_errors(ActualityForm.name)}}
	</div>
    
	<div class='container'>
		<p class='inputDescription'>Titre :</p>
		{{ form_widget(ActualityForm.title, {'attr': {'class': 'input'}})}}
		{{ form_errors(ActualityForm.title)}}
	</div>

	<div class='container'>
		<p class='inputDescription'>Contenu :</p>
		{{ form_widget(ActualityForm.content, {'attr': {'class': 'input'}})}}
		{{ form_errors(ActualityForm.content)}}
	</div>

	<div class='container'>
		<p class='inputDescription'>Image :</p>
		{{ form_widget(ActualityForm.image, {'attr': {'class': 'input'}})}}
		{{ form_errors(ActualityForm.image)}}
	</div>

	{{ form_widget(ActualityForm.submit, {attr: {class: 'button'}}) }}
	{{ form_end(ActualityForm) }}
{% endblock %}