{% extends "layout.html.twig" %}

{% block main %}
<h1 class='adminNewUsedVehicleTitlePage'>Enregistrer un nouveaux véhicules d'occasion</h1>
    <div class='adminNewUsedVehicleGlobalContainer'>
    {{ form_start(NewUsedVehicleForm, {'attr': {'enctype': 'multipart/form-data'}}) }}
        <div class='adminNewUsedVehicleInputContainer'>
            <p class='adminNewUsedVehicleInputDescription'>Marque</p>
            {{ form_widget(NewUsedVehicleForm.brand, {'attr': {'class': 'adminNewUsedVehicleInput'}})}}
			{{ form_errors(NewUsedVehicleForm.brand)}}
        </div>
        <div class='adminNewUsedVehicleInputContainer'>
            <p class='adminNewUsedVehicleInputDescription'>Modèle :</p>
            {{ form_widget(NewUsedVehicleForm.model, {'attr': {'class': 'adminNewUsedVehicleInput'}})}}
			{{ form_errors(NewUsedVehicleForm.model)}}
        </div>
        <div class='adminNewUsedVehicleInputContainer'>
            <p class='adminNewUsedVehicleInputDescription'>Catégorie :</p>
            {{ form_widget(NewUsedVehicleForm.category, {'attr': {'class': 'adminNewUsedVehicleInput'}})}}
			{{ form_errors(NewUsedVehicleForm.category)}}
        </div>
        <div class='adminNewUsedVehicleInputContainer'>
            <p class='adminNewUsedVehicleInputDescription'>Cylindrées :</p>
            {{ form_widget(NewUsedVehicleForm.cylinders, {'attr': {'class': 'adminNewUsedVehicleInput'}})}}
			{{ form_errors(NewUsedVehicleForm.cylinders)}}
        </div>
        <div class='adminNewUsedVehicleInputContainer'>
            <p class='adminNewUsedVehicleInputDescription'>Prix :</p>
            {{ form_widget(NewUsedVehicleForm.price, {'attr': {'class': 'adminNewUsedVehicleInput'}})}}
			{{ form_errors(NewUsedVehicleForm.price)}}
        </div>
        <div class='adminNewUsedVehicleInputContainer'>
            <p class='adminNewUsedVehicleInputDescription'>Temps de garantie :</p>
            {{ form_widget(NewUsedVehicleForm.warrantyTime, {'attr': {'class': 'adminNewUsedVehicleInput'}})}}
			{{ form_errors(NewUsedVehicleForm.warrantyTime)}}
        </div>
        <div class='adminNewUsedVehicleInputContainer'>
            <p class='adminNewUsedVehicleInputDescription'>Description :</p>
            {{ form_widget(NewUsedVehicleForm.description, {'attr': {'class': 'adminNewUsedVehicleInput'}})}}
			{{ form_errors(NewUsedVehicleForm.description)}}
        </div>
        <div class='adminNewUsedVehicleInputContainer'>
            <p class='adminNewUsedVehicleInputDescription'>Disponible à l'éssaie :</p>
            {{ form_widget(NewUsedVehicleForm.availableForTrial, {'attr': {'class': 'adminNewUsedVehicleInput'}})}}
			{{ form_errors(NewUsedVehicleForm.availableForTrial)}}
        </div>
        <div class='adminNewUsedVehicleInputContainer'>
            <p class='adminNewUsedVehicleInputDescription'>Couleur :</p>
            {{ form_widget(NewUsedVehicleForm.color, {'attr': {'class': 'adminNewUsedVehicleInput'}})}}
			{{ form_errors(NewUsedVehicleForm.color)}}
        </div>
        <div class='adminNewUsedVehicleInputContainer'>
            <p class='adminNewUsedVehicleInputDescription'>Année d'immatriculation :</p>
            {{ form_widget(NewUsedVehicleForm.year, {'attr': {'class': 'adminNewUsedVehicleInput'}})}}
			{{ form_errors(NewUsedVehicleForm.year)}}
        </div>
        <div class='adminNewUsedVehicleInputContainer'>
            <p class='adminNewUsedVehicleInputDescription'>Kilométrage :</p>
            {{ form_widget(NewUsedVehicleForm.kilometers, {'attr': {'class': 'adminNewUsedVehicleInput'}})}}
			{{ form_errors(NewUsedVehicleForm.kilometers)}}
        </div>
        <div class='adminNewUsedVehicleInputContainer'>
            <p class='adminNewUsedVehicleInputDescription'>Crit'air :</p>
            {{ form_widget(NewUsedVehicleForm.energyTax, {'attr': {'class': 'adminNewUsedVehicleInput'}})}}
			{{ form_errors(NewUsedVehicleForm.energyTax)}}
        </div>
        <div class='adminNewUsedVehicleInputContainer'>
            <p class='adminNewUsedVehicleInputDescription'>Puissance fiscale :</p>
            {{ form_widget(NewUsedVehicleForm.taxPower, {'attr': {'class': 'adminNewUsedVehicleInput'}})}}
			{{ form_errors(NewUsedVehicleForm.taxPower)}}
        </div>
        <div class='adminNewUsedVehicleInputContainer'>
            <p class='adminNewUsedVehicleInputDescription'>Image de présentation du véhicule :</p>
            {{ form_widget(NewUsedVehicleForm.imageUsedVehicle, {'attr': {'class': 'adminNewUsedVehicleInput'}})}}
			{{ form_errors(NewUsedVehicleForm.imageUsedVehicle)}}
        </div>
        {{ form_widget(NewUsedVehicleForm.submit, {attr: {class: 'adminNewUsedVehicleSubmitButton'}}) }}
        {{ form_end(NewUsedVehicleForm) }}
        <div class='adminNewUsedVehicleReturnButtonContainer'>
            <button class='adminNewUsedVehicleReturnButton'>
                <a class='adminNewUsedVehicleReturnButtonDescription' href="{{ path('AdminUsedVehicle') }}">Retour à la liste</a>
            </button>
        </div>
    </div>
{% endblock %}