{% extends "layout.html.twig" %}

{% block main %}
    <h1>Véhicule d'occasion : {{ usedVehicle.model }}</h1>

    <div class="containerUsedVehicleDetail">
        <div class="titleUsedVehicleDetail">
            <p>{{ usedVehicle.model }}</p>
        </div>
        <div class="cardUsedVehicleDetail">
            <div class="imageUsedVehicleDetail">
                <img src="{{ usedVehicle.imageUsedVehicle }}" alt="image du vehicule" width="600" height="400">
            </div>
            <div class="descriptionUsedVehicleDetail">
                <p>{{ usedVehicle.brand }}</p>
                <p>{{ usedVehicle.model }} €</p>
                <p>{{ usedVehicle.category }}</p>
                <p>{{ usedVehicle.cylinders }}</p>
                <p>{{ usedVehicle.color }}</p>
                <p>{{ usedVehicle.warrantyTime }}</p>
                <p>{{ usedVehicle.description }}</p>
                <p>{{ usedVehicle.year }}</p>
                <p>{{ usedVehicle.kilometers }} km</p>
                <p>{{ usedVehicle.energyTax }}</p>
                <p>{{ usedVehicle.taxPower }}</p>
            </div>
        </div>
        <div class="priceUsedVehicleDetail">
            <p>{{ usedVehicle.price }} €</p>
        </div>
    </div>
    <a href="{{ path('AdminUsedVehicle') }}">Retour à la liste</a>
{% endblock %}