{% extends 'layout.html.twig' %}

{% block main %}
<h1 class='adminNewAdminTitlePage'>Inscription</h1>

<div class='adminNewAdminGlobalContainer'>
{{ form_start(registrationForm) }}
  <div class='adminNewAdminInputContainer'>
    <p class='adminNewAdminInputDescription'>Email du nouvelle administrateur :</p>
    {{ form_widget(registrationForm.email, {'attr': {'class': 'adminNewAdminInput'}}) }}
    {{ form_errors(registrationForm.email) }}
  </div>
  <div class='adminNewAdminInputContainer'>
    <p class='adminNewAdminInputDescription'>Mot de passe :</p>
    {{ form_widget(registrationForm.password.first, {'attr': {'class': 'adminNewAdminInput'}}) }}
    {{ form_errors(registrationForm.password.first) }}
  </div>
  <div class='adminNewAdminInputContainer'>
    <p class='adminNewAdminInputDescription'>Condirmation du mot de passe :</p>
    {{ form_widget(registrationForm.password.second, {'attr': {'class': 'adminNewAdminInput'}}) }}
    {{ form_errors(registrationForm.password.second) }}
  </div>
  {{ form_widget(registrationForm.submit, {attr: {class: 'adminNewAdminSubmitButton'}}) }}
{{ form_end(registrationForm) }}
</div>
<button class='btnAdminNewNewVehicleAdminHomeReturn'>
  <a class="adminReturnButton" href={{ path('AdminHome')}}>Retour à l'accueil</a>
</button>

{% endblock %}