<div>
    <div>
        <p>Tél : 01.42.59.67.55 - Ouverture : Mardi => Vendredi : 9h -12h45 // 14h00 – 18h30 - Samedi => 9h – 12h45 // 14h00 – 17h15
    </div>
    <div>
        <a class='logo-link logo-mail'><image src={{asset('images/mail.png')}}></image></a>
        <a class='logo-link logo-instagram'><image src={{asset('images/instagram.png')}}></image></a>
        <a class='logo-link logo-facebook'><image src={{asset('images/facebook.png')}}></image></a>
        <a class='logo-link logo-tiktok'><image src={{asset('images/tiktok.png')}}></image></a>
    </div>
</div>
<div>
</div>
<nav>
    <a class='navbar-link' href={{path('home')}}>Actualités</a>
    <a class='navbar-link' href={{path('newVehicle')}}>Véhicule neuf</a>
    <a class='navbar-link' href={{path('usedVehicle')}}>Véhicule d'occasion</a>
    <a class='navbar-link' href={{path('workShop')}}>Atelier</a>
    <a class='navbar-link' href={{path('historical')}}>Hitorique</a>
    <a class='navbar-link' href={{path('accessories')}}>Accessoires</a>
    <a class='navbar-link' href={{path('contact')}}>Contact</a>
</nav>